*.zip

index.php
license.txt
pod_related_template.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

wp-admin/
wp-content/uploads/
wp-content/plugins/
wp-content/index.php
wp-content/themes/index.php
wp-content/themes/twentyeleven/
wp-content/themes/twentyfifteen/
wp-content/themes/twentyfourteen/
wp-content/themes/twentyten/
wp-content/themes/twentythirteen/
wp-content/themes/twentytwelve/
wp-includes/
