/*
 Theme Name:   Maker Source
 Theme URI:    http://example.com/makersource/
 Description:  Twenty Thirteen Child Theme
 Author:       Peter Zingg
 Author URI:   http://example.com
 Template:     twentythirteen
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  makersource
*/


/* =Theme customization starts here
-------------------------------------------------------------- */

/* Just a picture, title and metadata for project search results and archives */
.post-type-archive-project article.project .entry-content {
     display:none;
}

/* Keep author link on a separate line */
.single-author .entry-meta .author {
    display: block;
}

/* Minimal spacing before UserPro bookmark widget */
.entry-bookmark-header {
    margin-bottom: 0px;
}

/* 3-column "gallery"-like display" for desktops */
@media screen and (min-width: 700px) {
    
    .post-type-archive-project article.project {
         display:inline-block;
         vertical-align:top;
         width:30.5%;
         padding:1.25%;
         margin:1.25%;
         min-height:140px;
         background-color:#eee;
    }

    .post-type-archive-project article.project .entry-title a {
         font-size:0.6em;
    }
}

